{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
      
        
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'keyword-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'keyword-delete' object.id %}">Delete</a>
          </div>
        
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <p class="article-content">{{ object.description }}</p>



      <div class="article-metadata-bottom" style="padding-top:1px;margin-top: 4px;border-top: 1px solid #e3e3e3;">
        <b>Followed by:</b> {% for author in keyword.followedbys.all %}
          <a href="{% url 'profile' %}">{{ author.username }},</a>
        {% endfor %}
      </div>

      <div class="article-metadata-bottom"   >
        <b>All posts:</b> {% for post in keyword.post_set.all %}
          <a href="{% url 'post-detail' post.id %}">{{ post.title }},</a>
        {% endfor %}
      </div>

      <div class="article-metadata-bottom"   >
        <b>All proposals:</b> {% for proposal in keyword.proposal_set.all %}
          <a href="{% url 'proposal-detail' proposal.id %}">{{ proposal.title }},</a>
        {% endfor %}
      </div>
      
      <div class="article-metadata-bottom"   >
        <b>All records:</b> {% for record in keyword.record_set.all %}
          <a href="{% url 'record-detail' record.id %}">{{ record.project }},</a>
        {% endfor %}
      </div>
          
    </div>
  </article>
{% endblock content %}
